@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@model List<ReadDB.Models.YourModel>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>price</th>
            <th>product</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.pid</td>
                <td>@item.productname</td>
                <td>@item.price</td>
                <td>@item.productid</td>

            </tr>
        }
    </tbody>
</table>